import("methods")

importFrom("stats", "approxfun", "density", "integrate", "loess",
           "pnorm", "predict", "rnorm", "sd")
importFrom("utils", "write.csv")

importFrom("oompaBase", "matrixMean", "matrixVar")

export("bankStat", "createBank")
export("pairedStat")
